Trial
.Rproj.user
inst/doc
materials
test_model
tmp
checkpoints
udpipe_models
language_models
.Rhistory
*.h5
tests/testthat/test_data/language_models
test/testthat/test_data/tmp
test/testthat/test_data/bert
test/testthat/test_data/roberta
test/testthat/test_data/longformer
